<nav id="main_nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand arctic_scroll" href="#" data-position="0">PJ Tatlow</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <li><a class="arctic_scroll" data-offset="-50" href="#experience">Experience</a></li>
        <li><a class="arctic_scroll" data-offset="-50" href="#projects">Projects</a></li>
        <li><a class="arctic_scroll" data-offset="-50" href="#about">About</a></li>
        <li><a class="arctic_scroll" data-offset="-50" href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="notes"><a href="/notes/">Notes</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>