<script src="{{ "/js/lunr.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/searchy.min.js" | prepend: site.baseurl }}"></script>


<script>

$(document).ready(function() {  
                                   
  var posts = [
    {% for post in site.posts %}
      {
        "title": "{{ post.title | xml_escape }}",
        "category": {{ post.categories | jsonify }} ,
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "html": {{ post.excerpt | jsonify }},
        "url":  "{{ post.url | xml_escape }}",
        "date": new Date( "{{ post.date | date_to_xmlschema }}" )
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];
  
  
  var idx = lunr(function () {
    this.field('id');
    this.field('title', { boost: 10 });
    this.field('category', { boost: 7});
    this.field('content');
  });  
  
 
  for (var key in posts) {
    idx.add({
      'id': key,
      'title': posts[key].title,
      'category': posts[key].category,
      'content': posts[key].content
    });  
  }
  
                                 
  $(document).searchyBox({
    dates: true,
    draggable: true,
    posts: posts,
    index: idx,
    floatingBtn: true,
    placeHolder: "Search Notes",
    shortcut: {
      key: 32,
      modifier: "shiftKey"
    }
  });
});
</script> 