<script src="{{ "/js/lunr.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/searchyMcSearchBox.js" | prepend: site.baseurl }}"></script>


<script>

$(document).ready(function() {  
  var posts = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "category": {{ post.categories | jsonify }} ,
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "html": {{ post.excerpt | jsonify }},
        "url": "{{ post.url | xml_escape }}",
        "date": "{{ post.date | date_to_xmlschema }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
//                                   
  var idx = lunr(function () {
    this.field('id');
    this.field('title', { boost: 10 });
    this.field('category', { boost: 7});
    this.field('content');
  });  
  
  for (var key in posts) {
    posts[key].date = new Date(posts[key].date);
    idx.add({
      'id': key,
      'title': posts[key].title,
      'author': posts[key].author,
      'category': posts[key].category,
      'content': posts[key].content
    });  
  }  
                                 
  $(document).searchBox({
    dates: true,
    draggable: true,
    posts: posts,
    idx: idx,
    floatingBtn: true,
  });
});
</script> 